# US Politics This Week Ad Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read datasets and display columns

In [2]:
test_data = pd.read_csv("test_data.csv")
test_data.head()

   viewer_id  gender  age      city
0    1918165  Female   39    Dallas
1   27662619  Female   28  New York
2    5493662  Female   53   Detroit
3   14441247    Male   41  New York
4   25595927    Male   53   Seattle

In [ ]:
viewer_data = pd.read_csv("viewer_data.csv")